#map{
width: 100%;
height: 100%;
}

/*hotfix für die anzeige der Map*/
#contentmap div.scroll{
  height:100%;
  padding: 0px;
}
#map2{
width: 100%;
height: 90%;
}

/*hotfix für die anzeige der Map*/
#contentmap div.scroll{
  height:100%;
  padding: 0px;
}
