<ion-view title="Login" id="page2">
    <ion-content padding="true" class="has-header">
        <form id="login-form3" class="list">
            <label class="item item-input" id="login-input7">
                <span class="input-label">Nickname</span>
                <input type="password" placeholder="Nickname">
            </label>
            <label class="item item-input" id="login-input8">
                <span class="input-label">Passwort</span>
                <input type="password" placeholder="Passwort">
            </label>
        </form>
        <a ui-sref="ich" id="login-button3" class="button button-positive  button-block">Login</a>
        <a ui-sref="registrieren" id="login-button5" class="button button-positive  button-block">Registrieren</a>
    </ion-content>
</ion-view>
