<ion-view title="Login" id="page2">
    <ion-content padding="true" class="has-header">
        <form id="login-form3" class="list">
            <label class="item item-input" id="login-input7">
                <span class="input-label">Benutzername</span>
                <input type="text" placeholder="Benutzername" ng-model="Benutzername">
            </label>
            <label class="item item-input" id="login-input8">
                <span class="input-label">Passwort</span>
                <input type="password" placeholder="Passwort" ng-model="Passwort">
            </label>
        </form>
        <a id="login-button3" ng-controller="loginCtrl" ng-click=Login() class="button button-positive  button-block">Login</a>
        <a ui-sref="registrieren" id="login-button5" class="button button-positive  button-block">Registrieren</a>
        <a id="login-button3" ng-controller="loginCtrl" ng-click=shit() class="button button-positive  button-block">Login</a>
    </ion-content>
</ion-view>
