<ion-view title="Registrieren" id="page3">
    <ion-content padding="true" class="has-header">
        <form id="registrieren-form2" class="list">
            <label class="item item-input" id="registrieren-input1">
                <span class="input-label">Nickname</span>
                <input type="text" placeholder="Nickname">
            </label>
            <label class="item item-input" id="registrieren-input3">
                <span class="input-label">Vorname</span>
                <input type="text" placeholder="Vorname">
            </label>
            <label class="item item-input" id="registrieren-input2">
                <span class="input-label">Nachname</span>
                <input type="text" placeholder="Nachname">
            </label>
            <label class="item item-input" id="registrieren-input4">
                <span class="input-label">Tel. Nummer</span>
                <input type="tel" placeholder="Telefonnummer">
            </label>
            <label class="item item-input" id="registrieren-input5">
                <span class="input-label">Passwort</span>
                <input type="tel" placeholder="Passwort">
            </label>
            <label class="item item-input" id="registrieren-input6">
                <span class="input-label">Passwort wiederholen</span>
                <input type="tel" placeholder="Passwort">
            </label>
        </form>
        <button id="registrieren-button2" class="button button-positive  button-block">Registrieren</button>
    </ion-content>
</ion-view>